@model UserInfoViewModel
@using Microsoft.AspNetCore.Identity
@using System.Security.Claims
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@{
	string profileImageLink = string.IsNullOrWhiteSpace(@Model.UserInfo.Image) ? "" : (@Model.UserInfo.Image.Substring(0, 4) == "http" ? @Model.UserInfo.Image : "/images/" + @Model.UserInfo.Image);
}
<div class="userinfo-page-container">
	@if (@Model.UserInfo == null)
	{
		<h1>Welcome! Please enter your information to make a new profile.</h1>
		<form asp-controller="Auth" asp-action="NewUser">
			<div asp-validation-summary="All"></div>
			<input asp-for="UserInfo.ID" value="@ViewBag.ID" hidden />
			<span asp-validation-for="UserInfo.UserName"></span>
			<label asp-for="UserInfo.UserName"></label>
			<input asp-for="UserInfo.UserName" />
			<span asp-validation-for="UserInfo.Age"></span>
			<label asp-for="UserInfo.Age"></label>
			<input asp-for="UserInfo.Age" />
			<span asp-validation-for="UserInfo.Location"></span>
			<label asp-for="UserInfo.Location"></label>
			<input asp-for="UserInfo.Location" />
			<span asp-validation-for="UserInfo.Image"></span>
			<label asp-for="UserInfo.Image"></label>
			<input asp-for="UserInfo.Image" />
			<span asp-validation-for="UserInfo.Description"></span>
			<label asp-for="UserInfo.Description"></label>
			<input asp-for="UserInfo.Description">
			<button type="submit">Create Profile</button>
		</form>
	}
	else
	{ // UserInfo is not null
		@*Bio*@
		<div class="row row-center">
			<div class="profile-image-space">
				<img src="@profileImageLink" class="profile-image" />
			</div>
			<div class="profile-bio">
				<h1>@Model.UserInfo.UserName</h1>
				<p><strong>Age: </strong>@Model.UserInfo.Age</p>
				<p><strong>Location: </strong>@Model.UserInfo.Location</p>
				<p><strong>About Me: </strong>@Model.UserInfo.Description</p>
				<br/>
				<a href="/u/@Model.UserInfo.UserName/images" class="button">Pictures</a>
			</div>
		</div>

		@*Edit Profile Page*@
		@if (ViewBag.ID == Model.UserInfo.ID)
		{
			<a asp-controller="Auth" asp-action="EditUser">Edit Profile Page</a>
		}

		@*New Post*@
		<form asp-controller="Auth" asp-action="NewPost" id="new-post">
			<input name="posterID" value="@ViewBag.ID" hidden />
			<input name="postedID" value="@Model.UserInfo.ID" hidden />
			<textarea name="text" type="text" placeholder="Write a post here" id="posting-text" ></textarea>
			<input name="image" type="text" placeholder="Image URL" id="posting-imageurl" />
			<button type="submit" class="button">Post</button>
		</form>

		@*Posts on this page*@
		if (@Model.Posts != null)
		{
			@foreach (UserPost p in Model.Posts)
			{
				<partial name="_UserPost" for="@p" />
			}
		}
	}
</div>